{% extends 'base.html.twig' %}
{% block meta_title %}Accueil{% endblock %}
{% block header_title %}
    <h1>Bienvenue sur Todo List l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}
{% endblock %}
