{% extends 'base.html.twig' %}
{% block meta_title %}Erreur{% endblock %}
{% block header_title %}
	<h1>Erreur</h1>
{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
<p>Oops, quelque chose s'est mal passé...<br>
<a href="/" class="btn btn-purple mt-4"><i class="fas fa-home me-2"></i>Revenir à l'accueil</a>
</p>
{% endblock %}
